<!-- The code for the main-nav.html is copied from Boutique Ado project's source code. -->

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#" id="book-time-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Book Studio Time
            </a>
            <div class="dropdown-menu border-0 nav-bg" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Book Hour(s)</a>
                <a href="" class="dropdown-item">Book Day(s)</a>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#" id="subscribe-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Subscriptions
            </a>
            <div class="dropdown-menu border-0 nav-bg" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">10 Hours per Month</a>
                <a href="" class="dropdown-item">30 Hours per Month</a>
                <a href="" class="dropdown-item">60 Hours per Month</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#" id="merch-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Merchandise
            </a>
            <div class="dropdown-menu border-0 nav-bg" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">T-shirt</a>
                <a href="" class="dropdown-item">Mug</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>