{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row home-content h-100">
            <div class="col col-md-6 text-center">
                <h1 class="display-4 logo-font text-color">
                    <em>About ASAP Studio</em>
                </h1>
                <div class="card text-center">
                    <div class="card-body nav2-bg text-light">
                        <h5 class="card-title font-weight-bold">Activity</h5>
                        <p class="card-text"><em>ASAP Studio is a business e-commerce type of website that provides 
                            specific service to clients to book studio for different amount of time to complete 
                            their work, project, hobby or study goals in the desired style and quality.</em>
                        </p>
                        <p class="card-text"><em>The ASAP Studio website provides the means for users to have 
                            all the audio, video and other technical equipment that is needed for creating 
                            podcasts, streaming, film making, Youtube content, music producing etc. All of 
                            that without having to spent tons of money to buy the equipment and build their 
                            own studio but instead just use it for as long as it is needed.</em>
                        </p>
                        <p class="card-text nav-bg"><small class="text-muted">Click the button bellow to book studio ASAP</small></p>
                    </div>
                </div>
                <div class="my-5">
                    <h4>
                        <a href="" class="enter-button btn btn-lg rounded text-uppercase py-3">Book Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}