{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row home-content h-100">
            <div class="col col-md-6 text-center">
                <h1 class="display-4 logo-font text-color">
                    <em>Contact Us</em>
                </h1>
                <div class="card text-center">
                    <div class="card-header font-weight-bold nav2-bg text-light">
                        <h5 class="card-title font-weight-bold my-2">Contact Information</h5>
                    </div>
                    <div class="card-body nav-bg text-black">
                        <h5 class="card-title"><i class="fas fa-envelope"></i> asap.studio@email.com</h5>
                        <h5 class="card-title"><i class="fas fa-mobile-alt"></i> +46 0505 572310</h5>
                        <h5 class="card-title"><i class="fas fa-map-marked-alt"></i> Gamlastangatan 45, Stockholm, Sweden <br> (ASAP Studio Office)</h5>
                        <p class="card-text">
                            <em>Contact ASAP Studio during working hours. <br> Working hours schedule is shown below.</em>
                        </p>
                    </div>
                    <div class="card-footer nav2-bg">
                        <ul class="social-media-links text-light">
                            <li>
                                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square fa-lg mr-3 text-light"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square fa-lg mr-3 text-light"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-lg mr-3 text-light"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube-square fa-lg mr-3 text-light"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body nav2-bg text-light">
                        <h5 class="card-title font-weight-bold">Working Hours</h5>
                        <p class="card-text">
                            <em>Monday &#8594; 9:00 - 16:00</em>
                        </p>
                        <p class="card-text">
                            <em>Tuesday &#8594; 9:00 - 16:00</em>
                        </p>
                        <p class="card-text">
                            <em>Wednesday &#8594; 9:00 - 16:00</em>
                        </p>
                        <p class="card-text">
                            <em>Thursday &#8594; 9:00 - 16:00</em>
                        </p>
                        <p class="card-text">
                            <em>Friday &#8594; 9:00 - 14:00</em>
                        </p>
                        <p class="card-text">
                            <em>Saturday and Sunday &#8594; Close</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}